.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogsItems {
  padding: 10px; 
}
.dialog .active{
    color: red;
}
.messages {
  padding: 2px;
}
.message {
    color:aliceblue;
}
